@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#24262e]
  }

  @font-face {
    font-family: 'gabarito-regular';
    src: url('/fonts/Gabarito-Regular.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'gabarito-medium';
    src: url('/fonts/Gabarito-Medium.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'gabarito-bold';
    src: url('/fonts/Gabarito-Bold.woff2') format('woff2');
    font-display: swap;
  } 
}
