@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  html, body {
    @apply bg-[#151515]
  }

  @font-face {
    font-family: 'gabarito-regular';
    src: url('/fonts/Gabarito-Regular.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'gabarito-medium';
    src: url('/fonts/Gabarito-Medium.woff2') format('woff2');
    font-display: swap;
  }  

  @font-face {
    font-family: 'gabarito-bold';
    src: url('/fonts/Gabarito-Bold.woff2') format('woff2');
    font-display: swap;
  } 
}
